/* Header styles */
header {
  background-color: #6CC72B;
  color: rgb(54, 51, 51);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li {
  margin-left: 10px;
}

header a {
  color: rgb(54, 51, 51);
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

/* Main content styles */
.mainContent {
  margin: 20px;
}
